<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/about/">About Me</a></li>
  <li><a href="{{ root_url }}/smf/">Forums</a></li>
  <li><a href="//www.moparscape.org/smf/index.php/topic,6915.0.html">MoparScape</a></li>
  <li><a href="//www.moparscape.org/serverstatus.php">Server Status Page</a></li>
  <li><a href="{{ root_url }}/pkgmanager/">Package Managers</a></li>
  <li><a href="{{ root_url }}/irc.php">IRC</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
