<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about/">About</a></li>
  <li><a href="{{ root_url }}/smf/">Forums</a></li>
  <li><a href="{{ root_url }}/serverstatus.php">Server Status</a></li>
  <li><a href="{{ root_url }}/moparscape4.php">MoparScape 4</a></li>
  <li><a href="{{ root_url }}/moparscape3.php">MoparScape 3</a></li>
  <li><a href="{{ root_url }}/moparscape.html">Download</a></li>
</ul>
